.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-prev, .carousel-control-next {
  width: 8%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: flex-start;
  }

.flex-item {
  align-self: auto;
}

.flex-item:nth-child(1) {
  max-width: 50%;
  flex: 1 1 auto;
}

.flex-item:nth-child(2) {
  flex: 1 0 auto;
  text-align: center;
  align-self: center;
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .flex-item:nth-child(1) {
    max-width: 100%;
  }
}